{% extends "base.html" %}

{% block title %}
    Profile [{{ user.username }}]
{% endblock %}

{% block content %}
    <h3 class="text-center">{{ user.username }}</h3>
    <div>
        <h5>Following : {{ user.followings.count }}</h5>
        <h5>Followers : {{ user.followers.count}}</h5>
        {% if user == request.user %}
            <a href="{% url "account:edit_profile" %}" class="btn btn-info">Edit Profile</a>
        {% endif %}
        {% if user != request.user %}
            {% if followed %}
                <a href="{% url "account:unfollow" user.id %}" class="btn btn-primary">unFollow</a></br>
            {% else %}
                <a href="{% url "account:follow" user.id %}" class="btn btn-primary">Follow</a></br>
            {% endif %}
        {% endif %}
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="card col-4" style="width: 18rem;">
              <div class="card-body">
                <a class="card-text" href="{{ post.get_absolute_url }}"><p>{{ post.body|truncatewords:15 }}</p></a>
                  <h4 class="card-footer">{{ post.created_at }}</h4>
              </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}